/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 50px;
}
@media screen and (min-width: 768px) {
  .bg-container {
    padding-left: 170px;
  }
}
.comments-heading {
  color: #1e293b;
  font-size: 36px;
  font-family: 'Roboto';
  padding-left: 120px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .comments-heading {
    padding-left: 0px;
  }
}
.comments-img {
  width: 350px;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .comments-img {
    order: 1;
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  border-bottom: 2px solid #cbd2d9;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .comments-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.write-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-wrap: nowrap;
  width: 60vw;
}
@media screen and (min-width: 768px) {
  .write-comment-container {
    flex-wrap: nowrap;
  }
}
.description {
  color: #475569;
  font-size: 20px;
  font-weight: 800;
  font-family: 'roboto';
}

.input-name {
  border: 1px solid #1e293b;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 50px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .input-name {
    width: 30vw;
    height: 35px;
  }
}
.text-comment {
  border: 1px solid #1e293b;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 200px;
  padding: 10px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .text-comment {
    width: 30vw;
    height: 150px;
  }
}
.button {
  background-color: #0284c7;
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto';
  width: 200px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
}
.display-comments-container {
  display: flex;
  flex-direction: column;
}
.count-container {
  display: flex;
  flex-direction: row;
}
.comments-count {
  background-color: #0284c7;
  color: #ffffff;
  padding: 7px;
  margin-right: 4px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.comments {
  color: #475569;
  font-size: 18px;
  font-family: 'Roboto';
  padding-top: 3px;
}
.comment-details {
  padding-left: 20px;
}
